<section id="confirm-account" class="mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
          <div class="card_register">
            <div class="card">
              <div class="card-body text-center">
                <h1>GRACIAS POR REGISTRARTE</h1>
                <button (click)="activar()" class="btn btn-lg btn-primary btn-block">Activar Cuenta!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>>
</section>